/* Write your CSS here */
.arrow-button {
  background-color: transparent;
  border-width: 0px;
}
.arrow-image {
  height: 30px;
  width: 30px;
}
.para-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
